*{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    overflow: hidden;
}

#container{
    background-color: white;
    margin: 10% 35% 30% 35%;
    height: 400px;
    width: 40%;
    
}

#container p {
    padding: 50px 0px 0px 0px ;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.face{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.review{
    cursor: pointer;
    width: 110px;
    height: 140px;
    padding: 2% 2% 2% 2%;
   
}


.review:hover{
    border: 1px solid rgb(170, 163, 163);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.review.active {
    border: 1px solid rgb(170, 163, 163);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  } 

#sendbutton{
    margin-left: 33%;
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
    
}

#containerFeedback {

    background-color: white;
    margin: 5% 30% 30% 25%;
    height: 400px;
    width: 50%;
}

#containerFeedback h3{
    padding: 5% 0% 0% 0% ;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#containerFeedback h2{
    padding: 30% 0% 0% 45% ;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.review img{
    margin: 2% 20% 0% 20%;
}

.review h4{
    margin: 25% 20% 0% 20%;

}